<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Senate Loyal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    
    <body>
        <header class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <img class="col-md-8 img-fluid" src="img/logo.jpg" alt="logo">
                    </div>
                    <div class="offset-4 offset-md-10">
                        <a href="mailto:info@tgif.net">info@tgif.net</a>
                    </div>
                </div>
                <nav class="navbar navbar-nav navbar-expand bg-dark navbar-dark ">
                    <ul class="navbar-nav mr-auto">
                        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Congress 113
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="house-data.html">House Data</a>
                                <a class="dropdown-item" href="senate-data.html">Senate Data</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="house-attendance.html">House</a>
                                <a class="dropdown-item" href="senate-attendance.html">Senate</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Party Loyalty
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="house-party-loyalty.html">House Data</a>
                                <a class="dropdown-item" href="#">Senate</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>
        <!--Table container-->
        <section class="container-fluid">
            <div class="row">
                <article class="col-md-6">
                    <h2>Party Loyalty</h2>
                    <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
                </article>
                <div class="col-md-6">
                    <h2>Senate at a glance</h2>
                    <table class="table table-hover table-borderless text-center" id="glance-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Party</th>
                                <th>Number of Reps</th>
                                <th>% Voted with Prty</th>
                            </tr>
                        </thead>
                        <div id="app-1">
                            <tbody id="glance">
                                <tr>
                                    <td>{{stadistics.party_democrat}}</td>
                                    <td>{{stadistics.total_democrat}}</td>
                                    <td>{{stadistics.votes_democrat}}</td>
                                </tr>
                                <tr>
                                    <td>{{stadistics.party_republican}}</td>
                                    <td>{{stadistics.total_republican}}</td>
                                    <td>{{stadistics.votes_republican}}</td>
                                </tr>
                                <tr>
                                    <td>{{stadistics.party_inde}}</td>
                                    <td>{{stadistics.total_inde}}</td>
                                    <td>{{stadistics.votes_inde}}</td>
                                </tr>
                            </tbody>
                        </div>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Least Loyal (Bottom 10% of Party)</h2>
                    <table class="table table-hover table-borderless" id="least-loyal-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Number Party Votes</th>
                                <th>% Party Votes</th>
                            </tr>
                        </thead>
                        <div id="app-2">
                            <tbody id="leastLoyal">
                                <tr v-for="value in object">
                                    <td> <a v-bind:href="value.url"> {{value.first_name}} {{value.middle_name}} {{value.last_name}} </a></td>
                                    <td>{{ value.total_votes }}</td>
                                    <td>{{value.votes_with_party_pct}}</td>
                                </tr>
                            </tbody>
                        </div>
                    </table>
                </div>
                
                <div class="col-md-6">
                    
                    <h2>Most Loyal (Top 10% of Party)</h2>
                    <table class="table table-hover table-borderless" id="most-loyal-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Number Party Votes</th>
                                <th>% Party Votes</th>
                            </tr>
                        </thead>
                        <div id="app-3">
                            <tbody id="mostLoyal">
                                <tr v-for="value in object">
                                    <td> <a v-bind:href="value.url"> {{value.first_name}} {{value.middle_name}} {{value.last_name}} </a></td>
                                    <td>{{ value.total_votes }}</td>
                                    <td>{{value.votes_with_party_pct}}</td>
                                </tr>
                            </tbody>
                        </div>
                    </table>
                </div>
                </div>
            </div>
        </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/task4.js"></script>
    <script src="js/estadisticas.JS"></script>
</body>
</html>