/** General and Variables **/
    /** Colors **/
:root{
    --green: #1db779;
    --blue: #00c4c1;
    --black: #1e1e1e;
    --gray: #9b9b9b;
    --lightgray: #d1d3d4;
    --white: #f5f5f5;
}
body{
    font-family: 'front-test-font-icon', sans-serif;
}
a{
    text-decoration: none;
}

/** Header **/ 
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.top-nav a{
    color: var(--green);
    margin: 1% 1% 0% 1%;
}
.logo{
    padding: 2% 3.5%;
    background-color: var(--white);
    width: 13%;
}
.menu-container{
    width: 100%;
    display: flex;
}
.bar-search{
    width: 70%;
    height: 35px;
    border: none;
    border-top: var(--gray) solid 1px;
    padding: 1% 2%;
}
.bar-search input{
    border: none;
    margin-top: .5%;
    font-size: 1.5em;
}
.icon-icn_search{
    font-size: 1.3em;
}
.menu-container p{
    width: 30%;
    text-align: center;
    padding: 1.5% 0;
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.35em;
}
.nav-menu{
    width: 100%;
    background-color: var(--green);
    padding: 1.5% 5%;
    display: flex;
    justify-content: space-between;
}
.nav-menu a{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
}

/** Slide **/
.slide-contenedor{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.slider{
    display: none;
    transition: 2s;
    max-height: 100vh;
}
.slider a{
    display: block;
}
.slider img{
    width: 100%;
    max-height: 100vh;
    height: 400px;
    object-fit: none;
    vertical-align: top;
    transition: 2s;
}
.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}

.direcciones div{
    color: #fff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones div:hover{
    background: rgb(0, 0, 0, .5);
    transition: .5s;
    cursor: pointer;
}

/** Contenedor**/
.filtros{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}
.filtro{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    color: var(--gray);
    margin-left: 50%;
}
.filtro h2{
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
    border-bottom: 1px solid var(--lightgray);
}
.filtro label{
    margin: 5% 11px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
}
label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.icon-icn_checkbox_off, .icon-icn_checkbox_on{
    margin-right: 15%;
}
.icon-icn_checkbox_on{
    color: var(--green);
}
.filtro label:hover{
    cursor: pointer;
    color: var(--green)
}
.contenedor{
    text-align: center
}
.main{
    display: flex;
    margin: 0 auto;
    width: 95%;
}
.titulo{
    text-align: cente   r;
    display: inline-block;
    position: relative;
    font-size: 2.5em;
}
.titulo::after, .titulo::before{
    content: '';
    position: absolute;
    width:150%;
    height: 1px;
    background-color: var(--gray);
    top: 0.6em;
}
.titulo::before{
    left: 150%;
}
.titulo::after{
    right: 150%;
}
.productos{
    display:flex;
    flex-wrap: wrap;
    position: relative;
    width: 75%;
    text-align: center;
}
.producto{
    width: 25%
}
.descuento{
    background-color: var(--blue);
    height: 45px;
    line-height: 45px;
    width: 45px;
    border-radius: 50%;
    color: var(--white);
    font-weight: bold;
    font-size: 1em;
}
.list-price{
    color: var(--gray);
    text-decoration: line-through;
    font-size: .8em;
}
.sell-price{
    color: var(--green);
    font-weight: bold;
    font-size: 1.2em;
}
.producto:hover{
    cursor: pointer;
    color: var(--green);
}
/** Footer**/
footer{
    margin-top: 8%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 5% 12%
}
.footer-productos, .footer-cuenta, .footer-contacto{
    display: flex;
    flex-direction: column;
}

.footer-productos h4, .footer-cuenta h4, .footer-contacto h4{
border-bottom: solid 2px var(--gray);
padding-bottom: 7%;
text-transform: uppercase;
font-size: .8em;
}
footer section a{
    color: var(--white);
    line-height: 2em;
    font-size: .8em;
}
.footer-rs {
    font-size: 1.7em;
    width: 15%;
}
.fab{
    margin: 5%;
    cursor: pointer;
}

.fa-facebook-f:hover{
color:#3b5998;
}
.fa-twitter:hover{
    color:#1da1f2;
}
.fa-youtube:hover{
    color:#ff0000;
}

@media only screen and (max-width: 1100px) {
    .top-nav a{
        margin:1%;
    }
    .footer-rs{
        display: flex;
    }
}
@media only screen and (max-width: 960px){
    .slider img{
        height: 250px;
        object-fit: cover;
    }
    .titulo::before{
        left: 125%;
    }
    .titulo::after{
        right: 125%;
    }
    .titulo::before, .titulo::after{
        width: 100%;
    }
    .filtro{
        margin-left: 25%;
    }
    .producto{
        width: 32.5%
    }
}
@media only screen and (max-width: 792px){
    .bar-search{
        width: 90%;
        padding: 0% 1%;
    }
    .menu-container p{
        width: 35%;
    }
    .producto{
        width: 40%;
        margin: 0 auto;
    }
    .bar-search input{
        width: 60%;
    }
}
@media only screen and (max-width: 750px){
    .menu-container p{
        width: 45%;
    }
    
}
@media only screen and (max-width: 420px){
    .logo{
        padding: 4%;
        width: 30%;
    }
    .top-nav{
        display: contents;
    }
    .top-nav a{
        margin-top: 5%;
    }
    .bar-search{
        width: 100%;
    }
    .bar-search input{
        width: 90%;
    }
    .menu-container{
        flex-direction: column;
    }
    .menu-container p{
        width: 100%;
    }
    .nav-menu{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu a{
        margin: 5% 0;
    }
    .slider img{
        height: 140px;
    }
    .titulo::before, .titulo::after{
        width: 45%;
    }
    .titulo::before{
        left: 105%; 
    }
    .titulo::after{
        right: 105%;
    }
    .main{
        flex-direction: column;
    }
    #filter-elements{
        display: flex;
    }
    .filtros{
        width: 90%;
        margin: 0 auto;
    }
    .filtro{
        margin-left: 5%;
    }
    .productos{
        width: 100%;
    }
    .producto{
        width: 80%;
    }
    footer{
        flex-direction: column;
    }
    .footer-rs{
        width: 90%;
        justify-content: center;
        margin: 2.5% 0;
    }
}